# Data Analysis SOLOLEARN
## Pandas

Use strings as indices

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series([1, 2, 3], index=['a', 'b', 'c'])  # with index

a    1
b    2
c    3
dtype: int64

In [3]:
pd.Series(np.array([1, 2, 3]), index=['a', 'b', 'c'])  # with numpy array

a    1
b    2
c    3
dtype: int64

In [4]:
series = pd.Series({'a': 1, 'b': 2, 'c': 3})

In [5]:
series['a']

1

### Data Frames

In [8]:
wine_dict = {
  'red_wine': [3, 6, 5], 
  'white_wine':[5, 0, 10]
}
sales = pd.DataFrame(wine_dict, index=["adam", "bob", "charles"])
sales

         red_wine  white_wine
adam            3           5
bob             6           0
charles         5          10

In [9]:
sales['white_wine']

adam        5
bob         0
charles    10
Name: white_wine, dtype: int64

Load sample data from Sololearn

In [ ]:
presidents_df = pd.read_csv('https://sololearn.com/uploads/files/president_heights_party.csv',
                            index_col='name')
presidents_df

In [13]:
presidents_df.shape

(45, 4)

45 rows and 4 columns

In [14]:
presidents_df.size

180

180 cells

Take a peek at the dataframe

In [15]:
presidents_df.head(3)

                   order  age  height                  party
name
George Washington      1   57     189                   none
John Adams             2   61     170             federalist
Thomas Jefferson       3   57     189  democratic-republican

In [16]:
presidents_df.tail()  # n defaults to be 5

                   order  age  height       party
name
George H. W. Bush     41   64     188  republican
Bill Clinton          42   46     188  democratic
George W. Bush        43   54     182  republican
Barack Obama          44   47     185  democratic
Donald J. Trump       45   70     191  republican

Function `.info` column names and data types

In [17]:
presidents_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, George Washington to Donald J. Trump
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   45 non-null     int64
 1   age     45 non-null     int64
 2   height  45 non-null     int64
 3   party   45 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.8+ KB

### Row selection

In [21]:
lincoln = presidents_df.loc['Abraham Lincoln']

In [22]:
type(lincoln)
lincoln.shape

(4,)

`.loc` returns a panda series with shape (n,) where n is the number of columns
***
slicing is also supported

In [23]:
presidents_df['Abraham Lincoln':'Ulysses S. Grant']

                  order  age  height           party
name
Abraham Lincoln      16   52     193      republican
Andrew Johnson       17   56     178  national union
Ulysses S. Grant     18   46     173      republican

Use `.iloc` to select with index

In [24]:
presidents_df.iloc[15]

order             16
age               52
height           193
party     republican
Name: Abraham Lincoln, dtype: object

In [25]:
presidents_df.iloc[15:20]

                     order  age  height           party
name
Abraham Lincoln         16   52     193      republican
Andrew Johnson          17   56     178  national union
Ulysses S. Grant        18   46     173      republican
Rutherford B. Hayes     19   54     174      republican
James A. Garfield       20   49     183      republican

above is from 16th to 20th in the data frame

### To fucos on column of interest

In [28]:
presidents_df.columns

Index(['order', 'age', 'height', 'party'], dtype='object')

In [29]:
height = presidents_df['height']
height.shape

(45,)

In [31]:
presidents_df[['height', 'age']].head(3)

                   height  age
name
George Washington     189   57
John Adams            170   61
Thomas Jefferson      189   57

In [32]:
presidents_df.loc[:, 'order':'height'].head(3)

                   order  age  height
name
George Washington      1   57     189
John Adams             2   61     170
Thomas Jefferson       3   57     189

### summary statistics

In [34]:
presidents_df.min()

order              1
age               42
height           163
party     democratic
dtype: object

In [35]:
presidents_df.max()

order       45
age         70
height     193
party     whig
dtype: object

In [36]:
presidents_df.mean()

order      23.022222
age        55.000000
height    180.000000
dtype: float64

In [41]:
presidents_df['age'].quantile(np.linspace(0, 1, 5))

0.00    42.0
0.25    51.0
0.50    55.0
0.75    58.0
1.00    70.0
Name: age, dtype: float64

In [42]:
print(presidents_df['age'].mean())
print(presidents_df['age'].median())  # same as presidents_df.quantile(.5)

55.0
55.0

May not necessarily be the same for all datasets.
The measure of location, median, is more robust than mean, for continuous variables as the latter is sensitive to outliers, e.g., extremely large values.

In [44]:
print(presidents_df['age'].var())
print(presidents_df['age'].std())
presidents_df['age'].var() == presidents_df['age'].std() ** 2

43.5
6.59545297913646

True

In [48]:
presidents_df.loc[:,'age':].std()

age       6.595453
height    6.977236
dtype: float64

`.describe` returns a table of summary statistics

In [49]:
presidents_df.describe()

           order        age      height
count  45.000000  45.000000   45.000000
mean   23.022222  55.000000  180.000000
std    13.136502   6.595453    6.977236
min     1.000000  42.000000  163.000000
25%    12.000000  51.000000  175.000000
50%    23.000000  55.000000  182.000000
75%    34.000000  58.000000  183.000000
max    45.000000  70.000000  193.000000

for categorical variables

In [54]:
presidents_df['party'].value_counts()

republican               19
democratic               15
whig                      4
democratic-republican     4
federalist                1
none                      1
national union            1
Name: party, dtype: int64

### Groupby and Aggregations

In [64]:
list(presidents_df.groupby('party'))

[('democratic',
                         order  age  height       party
  name
  Andrew Jackson             7   61     185  democratic
  Martin Van Buren           8   54     168  democratic
  James K. Polk             11   49     173  democratic
  Franklin Pierce           14   48     178  democratic
  James Buchanan            15   65     183  democratic
  Grover Cleveland          22   47     180  democratic
  Grover Cleveland          25   55     180  democratic
  Woodrow Wilson            28   56     180  democratic
  Franklin D. Roosevelt     32   51     188  democratic
  Harry S. Truman           33   60     175  democratic
  John F. Kennedy           35   43     183  democratic
  Lyndon B. Johnson         36   55     193  democratic
  Jimmy Carter              39   52     177  democratic
  Bill Clinton              42   46     188  democratic
  Barack Obama              44   47     185  democratic),
 ('democratic-republican',
                     order  age  height                  party
  name
  Thomas Jefferson       3   57     189  democratic-republican
  James Madison          4   57     163  democratic-republican
  James Monroe           5   58     183  democratic-republican
  John Quincy Adams      6   57     171  democratic-republican),
 ('federalist',
              order  age  height       party
  name
  John Adams      2   61     170  federalist),
 ('national union',
                  order  age  height           party
  name
  Andrew Johnson     17   56     178  national union),
 ('none',
                     order  age  height party
  name
  George Washington      1   57     189  none),
 ('republican',
                        order  age  height       party
  name
  Abraham Lincoln          16   52     193  republican
  Ulysses S. Grant         18   46     173  republican
  Rutherford B. Hayes      19   54     174  republican
  James A. Garfield        20   49     183  republican
  Chester A. Arthur        21   51     183  republican
  Benjamin Harrison        23   55     168  republican
  William McKinley         25   54     170  republican
  Theodore Roosevelt       26   42     178  republican
  William Howard Taft      27   51     182  republican
  Warren G. Harding        29   55     183  republican
  Calvin Coolidge          30   51     178  republican
  Herbert Hoover           31   54     182  republican
  Dwight D. Eisenhower     34   62     179  republican
  Richard Nixon            37   56     182  republican
  Gerald Ford              38   61     183  republican
  Ronald Reagan            40   69     185  republican
  George H. W. Bush        41   64     188  republican
  George W. Bush           43   54     182  republican
  Donald J. Trump          45   70     191  republican),
 ('whig',
                          order  age  height party
  name
  William Henry Harrison      9   68     173  whig
  John Tyler                 10   51     183  whig
  Zachary Taylor             12   64     173  whig
  Millard Fillmore           13   50     175  whig)]

We can also perform multiple operations on the groupby object (and dataframe) using `.agg()` method

In [63]:
presidents_df.groupby('party').mean()

                           order        age      height
party
democratic             26.066667  52.600000  181.066667
democratic-republican   4.500000  57.250000  176.500000
federalist              2.000000  61.000000  170.000000
national union         17.000000  56.000000  178.000000
none                    1.000000  57.000000  189.000000
republican             29.631579  55.263158  180.894737
whig                   11.000000  58.250000  176.000000

In [69]:
presidents_df.groupby('party')['height'].agg(['min', np.median, max])

                       min  median  max  count
party
democratic             168     180  193     15
democratic-republican  163     177  189      4
federalist             170     170  170      1
national union         178     178  178      1
none                   189     189  189      1
republican             168     182  193     19
whig                   173     174  183      4

In [79]:
presidents_df.groupby('party').agg({'order': 'count',
                                    'height': [np.median, np.mean],
                                    'age': [min, max]})

                      order height             age
                      count median        mean min max
party
democratic               15    180  181.066667  43  65
democratic-republican     4    177  176.500000  57  58
federalist                1    170  170.000000  61  61
national union            1    178  178.000000  56  56
none                      1    189  189.000000  57  57
republican               19    182  180.894737  42  70
whig                      4    174  176.000000  50  68